.view-the-stories-image {
  grid-area: image;
  img {
    width: 100%;
  }
}

.view-the-stories-text {
  display: flex;
  flex-direction: column;
  grid-area: info;
  height: 410px;
  padding: 0 20px 0 33px;
  h2 {
    padding: 0 45px 0 0;
    margin-top: auto;
  }
  .view-the-stories-info {
    margin-top: -5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6;
  }
  button {
    // padding-top: 10px;
    width: 205px;
    margin-top: 10px;
    margin-bottom: auto;
  }
}

.view-the-stories-box {
  @include mq($from: tablet) {
    display: grid;
    grid-template-areas: 'image info';
    grid-template-rows: 600px;
    height: 600px;
    // padding-top: 1px;

    &.invert {
      grid-template-areas: 'info image';
    }
    .view-the-stories-text {
      justify-content: center;
      height: unset;
      padding: 10px 60px 0 55px;
      margin: 0;

      h2 {
        padding: 0 40px 0 0;
      }
    }
    .view-the-stories-info {
      margin-top: -10px;
      margin-bottom: 4px;
    }
    .view-the-stories-image {
      height: unset;
      img {
        width: unset;
      }
    }
    button {
      // width: 320px;
      margin-top: 32px;
    }
  }

  @include mq($from: desktop) {
    .view-the-stories-text {
      padding: 8px 112px 0 112px;
    }
  }
}
