.main-footer {
  padding: 54px 0;
  text-align: center;
  background-color: #000;
  .logo {
    position: relative;
    // object-fit: cover;
    // mask-size: cover;

    // mask-image: url('~@/assets/images/shared/desktop/logo.svg');
    // position: relative;

    width: 100%;
    height: 16px;

    > img {
      position: absolute;
      top: 0;
      left: calc(-170px / 2);
      width: 170px;
      margin-left: 50%;
      clip: rect(0, 170px, 16px, 0);
      filter: invert(1);
    }

    .logo-filtered {
      img {
        position: absolute;
        top: 0;
        left: calc(-170px / 2);
        width: 170px;
        margin-left: 50%;
        clip: rect(0, 23px, 16px, 0);
      }
    }
  }
}
