.main-footer {
  padding: 56px 0;
  text-align: center;
  background-color: #000;

  .logo {
    position: relative;
    width: 100%;
    height: 16px;

    > img {
      position: absolute;
      top: 0;
      left: calc(-170px / 2);
      width: 170px;
      margin-left: 50%;
      clip: rect(0, 170px, 16px, 0);
      filter: invert(1);
    }

    .logo-filtered {
      img {
        position: absolute;
        top: 0;
        left: calc(-170px / 2);
        width: 170px;
        margin-left: 50%;
        clip: rect(0, 23px, 16px, 0);
      }
    }
  }

  .footer-social {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    column-gap: 13px;
    justify-content: center;
    margin-top: 32px;
    filter: brightness(0) invert(1);
  }
  .footer-links {
    display: grid;
    row-gap: 19px;
    margin-top: 44px;
    a {
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .footer-button {
    display: flex;
    justify-content: center;
    margin-top: 108px;
    margin-left: 49px;
  }
  .footer-copy {
    margin-top: 19px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
  }

  @include mq($from: tablet) {
    position: relative;
    padding: 63px 38px 63px 36px;

    .logo {
      width: 176px;
    }
    .footer-social {
      justify-content: start;
      margin-top: 120px;
      margin-left: 3px;
    }
    .footer-links {
      display: flex;
      margin-top: -113px;
      margin-left: 3px;
      a + a {
        margin-left: 25px;
      }
    }
    .footer-button {
      position: absolute;
      top: 51px;
      right: -12px;
      margin: 0;
    }
    .footer-copy {
      margin-top: 70px;
      text-align: right;
    }
  }
}
