$opacity: 0.8;

.home {
  width: 100%;
  height: 8000px;
  background-image: linear-gradient(rgba(#fff, $opacity), rgba(#fff, $opacity)),
    url('~@/assets/images/design/Mobile - Home.jpg');
  background-repeat: no-repeat;

  @include mq($from: tablet) {
    background-image: linear-gradient(
        rgba(#fff, $opacity),
        rgba(#fff, $opacity)
      ),
      url('~@/assets/images/design/Tablet - Home.jpg');
    background-repeat: no-repeat;
  }
  @include mq($from: desktop) {
    background-image: linear-gradient(
        rgba(#fff, $opacity),
        rgba(#fff, $opacity)
      ),
      url('~@/assets/images/design/Desktop - Home.jpg');
    background-repeat: no-repeat;
    // background-size: cover;
  }
}
