.pricing {
  width: 100%;
  height: 8000px;
  background: url('~@/assets/images/design/Mobile - Pricing.jpg') no-repeat;

  @include mq($from: tablet) {
    background: url('~@/assets/images/design/Tablet - Pricing.jpg') no-repeat;
  }
  @include mq($from: desktop) {
    background: url('~@/assets/images/design/Desktop - Pricing.jpg') no-repeat;
  }
}
