html,
body {
  height: 8000px;
}

.home {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    width: 100%;
    height: 8000px;
    content: '';
    background-image: url('~@/assets/images/design/Mobile - Home.jpg');
    background-repeat: no-repeat;
    opacity: 0.6;
    // opacity: 0;

    @include mq($from: tablet) {
      background-image: url('~@/assets/images/design/Tablet - Home.jpg');
      background-repeat: no-repeat;
    }
    @include mq($from: desktop) {
      background-image: url('~@/assets/images/design/Desktop - Home.jpg');
      background-repeat: no-repeat;
    }
  }
}

.stories {
  width: 100%;
  // height: 8000px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    width: 100%;
    height: 8000px;
    content: '';
    background-image: url('~@/assets/images/design/Mobile - Stories.jpg');
    background-repeat: no-repeat;
    opacity: 0.6;
    // opacity: 0;

    @include mq($from: tablet) {
      background-image: url('~@/assets/images/design/Tablet - Stories.jpg');
      background-repeat: no-repeat;
    }
    @include mq($from: desktop) {
      background-image: url('~@/assets/images/design/Desktop - Stories.jpg');
      background-repeat: no-repeat;
    }
  }
}

.features {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    width: 100%;
    height: 8000px;
    content: '';
    background-image: url('~@/assets/images/design/Mobile - Features.jpg');
    background-repeat: no-repeat;
    opacity: 0.6;

    @include mq($from: tablet) {
      background-image: url('~@/assets/images/design/Tablet - Features.jpg');
      background-repeat: no-repeat;
    }
    @include mq($from: desktop) {
      background-image: url('~@/assets/images/design/Desktop - Features.jpg');
      background-repeat: no-repeat;
    }
  }
}

.pricing {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    width: 100%;
    height: 8000px;
    content: '';
    background-image: url('~@/assets/images/design/Mobile - Pricing.jpg');
    background-repeat: no-repeat;
    opacity: 0.6;

    @include mq($from: tablet) {
      background-image: url('~@/assets/images/design/Tablet - Pricing.jpg');
      background-repeat: no-repeat;
    }
    @include mq($from: desktop) {
      background-image: url('~@/assets/images/design/Desktop - Pricing.jpg');
      background-repeat: no-repeat;
    }
  }

  .plan-box {
    opacity: 0.6;
  }
}

.main-container {
  .main-footer {
    background-color: rgba(#000, 0.4);
  }
  .main-header {
    position: absolute;
    background-color: rgba(#fff, 0.4);
  }
}

.beta-announcement {
  opacity: 0.8;
}

.intro {
  background-color: rgba(#000, 0.4);
}
